MUSIC2D_HDF5/
MUSIC3D_HDF5/
.env
*.pyc
.vscode/
__pycache__/
*.py[cod]

# C extensions
*.so
src/compression/experiments
src/data/experiments
experiments
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
*__pycache__/
*.jpeg
*.jpg
*.pt
.idea/
*.xml

#CKPTS
*.pt

# Mesh/Point Cloud files
*.ply

# FOLDERS
src/DETCTCNN/model/runs/
runs/
runs*/
img/
checkpoints/

src/OneD/best_model.pth
src/OneD/pg.py

src/pytorch-UNet/checkpoint/*
src/pytorch-UNet/output/*
Experiments
src/DETCTCNN/model/multiple_trainings.py